body {
    // padding-top: 20px;
    // padding-bottom: 20px;
}

.clear-focus-highlight:focus {
    webkit-box-shadow: none;
    box-shadow: none;
}

a.note-panel-link {
    text-decoration: none;
}
body {
    background-color: #cce6ff;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #cce6ff;
}

li {
    float: left;
}

li a {
    display: block;
    color: #000;
    text-align: center;
    font-size: 18px;
    font-family: 'Calibri';
    padding: 14px 30px;
    text-decoration: none;
}

li a:hover {
    background-color: #ffb3ec;
}